html, body {
    background-color: rgb(12, 12, 12);
    margin: 0;
    height: 98%;
    font-size: 14px;
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
    color: white;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

br {
    margin: 0;
    padding: 0;
}

.wrapper {
    justify-content: space-around;
    overflow: hidden;
}

.container {
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 0 6% 10%;
    border: 0px #0625d6 solid;
    transition: 0.3s ease-in-out;
    transition-property: all;
}

.container.nav {
    margin-top: -2%;
    border: 15px #0625d6 solid;
    transform: perspective(700px) scale(0.4) translateX(-600px) rotateY(5deg);
}

.dabba.off {
    pointer-events: none;
}

.nav-bar {
    float: right;
    margin: 10px 9.5% 0 0;
}

.nav-toggle {
    display: flex;
    width: 50px;
    height: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 1.5s ease-in-out;
}

.nav-toggle.active {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease-in-out;
}

.nav-toggle span, .nav-toggle::before, .nav-toggle::after {
    content: "";
    position: relative;
    width: 16px;
    height: 2px;
    background-color: #fff;
}

.nav-toggle::before {
    bottom: 5px;
    width: 23px;
}

.nav-toggle::after {
    top: 5px;
    width: 23px;
}

.nav-options {
    float: right;
    width: 400px;
    height: 600px;
    padding: 20px;
    margin: -45% -5% 0 0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

.nav-options.active {
    transition: all 0.3s ease-in-out;
    pointer-events: all;
    opacity: 1;
    margin: -40% 11% 0 0;
}

.options {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 900;
    font-style: normal;
    font-size: 2.6rem;
    line-height: 1.2;
}

.option {
    cursor: pointer;
}

.option p s {
    text-decoration: none;
    position: relative;
}

.option p s::after {
    content: "";
    position: absolute;
    top: 55%;
    left: -20%;
    width: 140%;
    height: 8px;
    background-color: blue;
    transform: translateY(-50%);
}

.header {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.header a {
    text-decoration: none;
    margin-right: 20px;
}

.header p {
    font-size: 1.4rem;
    color: white;
    font-weight: 700;
}

.timeline {
    display: inline-block;
    overflow: hidden;
}

.line {
    position: absolute;
    transform: translateX(-50%);
    margin: 3% 0 0 25px;
    width: 1px;
    height: 70%;
    background-color: #535353;
    opacity: 0.7;
}

.dots {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dots li p {
    position: absolute;
    width: 100px;
    margin: -5px 0 0 20px;
    font-family: "Comfortaa", sans-serif;
    font-size: 0.95rem;
    cursor: pointer;
}

.dot {
    position: absolute;
    margin: 7% 0 0 25px;
    transform: translate(-50%, -50%);
    width: 3px;
    height: 3px;
    background-color: #8d8d8d;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: #007bff;
    width: 2px;
    height: 2px;
    transition: 0.5s ease-in;
}

.dot:nth-child(1) { top: 6%; }
.dot:nth-child(2) { top: 18%; }
.dot:nth-child(3) { top: 30%; }
.dot:nth-child(4) { top: 42%; }
.dot:nth-child(5) { top: 54%; }
.dot:nth-child(6) { top: 66%; }

.box-content {
    padding: 0;
    margin: 2% 0 0 10%;
    width: 75%;
    height: 74vh;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    /* border: 2px #007bff solid; */
}

.content {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
}

.section {
    display: none;
    padding: 0;
    margin: 1px 0 0 4px;
    overflow: hidden;
    width: 99%;
    height: 99%;
    /* border: 2px red solid; */
}

.section.active {
    display: inline-block;
}

.section.fade-in {
    animation: fadeInUp 0.5s ease-in-out;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.section.active.fade-out {
    animation: fadeOutDown 0.5s ease-in-out;
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-40px);
    }
}

.small-headers {
    display: none;
}

.box {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.content-item {
    display: flex;
    width: 100%;
    height: 90%;
    margin: 2% 0 0 0;
    padding: 0;
    /* border: 2px yellow solid; */
}

.textex {
    margin: 5% 0 0 10%;
    line-height: 1.2;
    text-align: left;
}

.textex h1 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-style: normal;
    font-size: 4.5rem;
    padding: 0;
    margin: 0;
}

.textex h3 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
}

.hire {
    display: inline-block;
    padding: 10px 15px;
    width: 40%;
    background-color: #0346d8;
    color: #fff;
    margin: 14% 0 0 2%;
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    text-align: left;
    transition: all 0.25s ease-in-out;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.hire:hover {
    width: 45%;
    scale: 1.01;
}

.hire .arrow {
    display: inline-block;
    transition: transform 0.25s ease-in-out;
}

.hire:hover .arrow {
    transform: translateX(20px); /* Adjust the value as needed */
}

.content-item img {
    margin: 0 0 0 3%;
    padding: 0;
    scale: 1;
}

.line2 {
    padding: 0;
    margin: 2px 0 0 8%;
    width: 81.2%;
    height: 2px;
    background-color: #535353;
    opacity: 0.6;
}

.skill-options {
    justify-content: center;
    display: flex;
    margin: 0 0 0 2%;
}

.skill-options a {
    width: 20%;
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: 'Montserrat';
    font-weight: 600;
    text-decoration: none;
    opacity: 0.2;
    margin-right: 5%;
    transition: opacity 0.16s ease-in;
}

.skill-options a:hover {
    opacity: 1;
}

.skill-options h3 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.skill-options p {
    font-size: 1rem;
}


/* About */
.about-box {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: left;
    /* border: 2px #007bff solid; */
}

.text-box {
    justify-content: left;
    text-align: left;
    margin: 0;
    padding: 20px;
    width:50%;
    height: 85%;
    overflow: hidden;
    /* border: 2px orange solid; */
}

.text-box img {
    padding: 0;
    margin: 0;
    scale: 0.8;
}

.text-box p {
    font-family: 'Comfortaa';
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.6;
    margin: 0 0 0 8%;
    opacity: 0.80;
    transition: opacity 0.15s ease-in-out;
}

.text-box:hover p.strike {
    text-decoration: underline;
    transition: all 2s ease-in-out;
}

.text-box p:hover {
    opacity: 1;
}

.skill-rating {
    height: 75%;
    padding: 10px;
    margin: 6% 0 0 10%;
    justify-content: left;
    text-align: left;
    /* border: 5px blue solid; */
}

.all-skill {
    padding: 5px;
    margin-top: 10%;
}

.all-skill li {
    font-size: 2.1rem;
    color: rgb(209, 209, 209);
}

.all-skill li a {
    display: inline-block;
    font-family: 'Ubuntu';
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 0.35;
    color: rgb(43, 90, 138);
}

.about-footers {
    width: 48%;
    margin-top: -6px;
    padding: 0 5%;
    text-align: left;
    /* border: 2px blue solid; */
}

.head {
    display: flex;
}

.social-foot {
    display: inline;
    font-family: 'Rowdies';
    font-weight: 300;
    font-size: 1.4rem;
    color: #bb5f35;
}

.social-line {
    margin: 5.4% 0 0 6px;
    width: 90%;
    height: 4px;
    background-color: #535353;
    opacity: 0.6;
    border-radius: 7px;
}

.social-links {
    display: flex;
    justify-content: space-around;
}

.social-icons {
    display: flex;
}

.social-icons img {
    width: 25%;
    opacity: 0.8;
    padding: 0 5px 0 0;
    transition: all 0.2s ease-in-out;
}

.social-icons:hover img {
    scale: 1.1;
}

.social-icons a {
    font-family: 'Rowdies';
    font-weight: 300;
    font-size: 1.1rem;
    text-decoration: none;
    color: #2a3b9c;
    opacity: 0.6;
    margin-top: 5%;
    transition: all 0.14s ease-in;
}

.social-icons a:hover {
    opacity: 1;
    color: #4957a5;
}


/* Projects */
.project-box {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.project-data-p {
    width: 40%;
    padding: 5px;
    justify-content: space-around;
    overflow: hidden;
    border-radius: 10px;
}

.project-p-header {
    display: flex;
    padding: 0;
    justify-content: space-around;
}

.project-count {
    display: inline-block;
    text-align: left;
    width: 50%;
    line-height: 0;
    padding: 0;
    margin: 0;
}

.project-count h3 {
    font-size: 1rem;
    margin-left: 4%;
}

.project-count p {
    font-size: 0.9rem;
    line-height: 1.4;
    color: rgb(196, 173, 39);
    margin-left: 4%;
}

.project-p-header img {
    padding-left: 5px;
    border-radius: 5px;
}

.project-count img {
    width: 270px;
    height: 130px;
    border-left: 1px rgb(155, 146, 62) solid;
}

.project-p-header #p-visual {
    width: 250px;
    height: 200px;
    margin-top: 5%;
}

.line-separator {
    padding: 0;
    margin: 2% 0 2% 1px;
    width: 60%;
    height: 2px;
    background-color: #535353;
    opacity: 0.6;
}

.projects-display {
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

.project-panel {
    display: flex;
    background-color: #2e2e2e;
    justify-content: space-around;
    height: 80px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 5px;
    opacity: 0.8;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

.project-panel:hover {
    cursor: pointer;
}

.project-panel img {
    width: 40px;
}

.panel-text {
    text-align: left;
    width: 60%;
    padding-left: 5px;
    border-left: 1px rgb(129, 129, 129) solid;
}

.panel-text h4 {
    padding-left: 5px;
    box-sizing: border-box;
    font-size: 0.8rem;
    line-height: 0;
    text-transform: uppercase;
    color: #d4ab23;
}

.panel-text h4::first-letter {
    text-decoration: underline;
}

.panel-text p {
    padding-left: 5px;
    margin-top: -2%;
    box-sizing: border-box;
    font-size: 0.8rem;
    line-height: 1.2;
}

.use-tech {
    width: 25%;
    text-align: left;
    padding: 10px 0 0 10px;
    border-left: 1px rgb(129, 129, 129) solid;
}

.use-tech ul {
    list-style: none;
    font-size: 0.8rem;
    padding-left: 0;
    margin: 0;
}


.project-techs {
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-data-d {
    width: 100%;
    height: 40%;
    padding: 6px 0 0 8px;
    border-radius: 8px;
    box-sizing: border-box;
    border-left: 2px rgb(167, 48, 11) solid;
}

.dr-discovery-analysis {
    height: 100%;
    text-align: left;
}

.script {
    font-size: 0.7rem;
    line-height: 1.2;
    margin-top: -4%;
}

.dr-discovery-analysis img {
    margin-top: -7%;
    width: 98%;
    border-radius: 2px;
}

.technologies {
    width: 100%;
    padding: 0;
    margin: 0;
}

.technologies ul {
    list-style: none;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-left: -10%;
}

.technologies ul li::first-letter {
    text-decoration: underline;
}

.project-data-ml {
    width: 100%;
    height: 40%;
    padding: 6px 0 0 8px;
    text-align: left;
    border-radius: 8px;
    box-sizing: border-box;
    border-left: 2px rgb(167, 48, 11) solid;
}

.project-data-ml img {
    margin-top: -7%;
    width: 99%;
    border-radius: 2px;
}

.project-data-s {
    width: 25%;
    padding: 5px 0 10px 10px;
    border-radius: 10px;
    box-sizing: border-box;
    border-top: 2px blue solid;
    border-bottom: 2px blue solid;
}

.website-projects {
    width: 100%;
    height: 85%;
    padding: 0;
    box-sizing: border-box;
}

.website-projects img:hover {
    scale: 1.015;
}

.finance-website, .basic-web {
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 0;
}

.basic-web {
    margin-top: 15%;
}

.finance-website h4, .basic-web h4 {
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
}

.finance-website h4::first-letter, .basic-web h4::first-letter  {
    font-size: 1.2rem;
    text-decoration: underline;
}

.finance-website img, .basic-web img {
    width: 95%;
    border-radius: 5px;
    transition: scale 0.2s ease-in;
    border: 5px rgb(19, 53, 156) solid;
}

.finance-website p, .basic-web p {
    font-family: 'Montserrat';
    text-align: left;
    font-size: 1rem;
    line-height: 1;
    margin-top: 4%;
}

.s-data-footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 15%;
    padding: 10px;
    text-align: left;
    box-sizing: border-box;
}

.s-data-footer a {
    width: 70%;
    text-decoration: none;
    padding: 6px 0 0 0;
    margin: 0;
    color: #7b00ff;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.s-data-footer a:hover::first-letter {
    text-decoration: underline;
}

.s-data-footer img {
    width: 17%;
    padding: 2px 0 0 0;
}


/* Data Science */
.ds-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 99%;
    height: 99%;
    padding: 15px 5px 5px 5px;
    text-align: left;
    box-sizing: border-box;
    /* border: 1px red solid; */
}

.ds-header {
    display: flex;
    flex-direction: column;
    height: 17%;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px yellow solid; */
}

.ds-timeline {
    display: flex;
    justify-content: space-between;
    width: 73%;
    height: 25%;
    padding: 0;
    margin: -0.5% 0 0 2%;
    /* border: 1px yellow solid; */
}

.ds-timeline:nth-child(3) {
    width: 42%;
    margin: -0.5% 0 0 17%;
}

.ds-projects {
    font-family: 'Montserrat';
    font-size: 0.75rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.ds-projects::first-letter {
    text-decoration: underline;
}

.ds-projects.active {
    color: rgb(50, 125, 230);
}

.ds-header img {
    width: 60%;
    padding: 0;
    margin: 0 0 0 7.5%;
    opacity: 0.5;
}

.ds-body-tab {
    width: 99.8%;
    height: 80%;
    /* border: 1px yellow solid; */
}

.ds-content {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 99.8%;
    height: 99.9%;
    justify-content: center;
    text-align: center;
    /* border: 2px red solid; */
}

.ds-section {
    display: none;
    padding: 0 0 0 20px;
    margin: 0;
    overflow: hidden;
    width: 99.9%;
    height: 99.5%;
    box-sizing: border-box;
    /* border: 2px yellow solid; */
}

.ds-section.active {
    display: inline-block;
}

.ds-section.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.ds-section.active.fade-out {
    animation: fadeOutRight 0.5s ease-in-out;
}

@keyframes fadeOutRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-40px);
    }
}

.nobel-data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.nobel-data-top {
    display: flex;
    justify-content: space-around;
    width: 99.8%;
    height: 48%;
    padding: 5px;
    box-sizing: border-box;
    /* border: 1px red solid; */
}

.nobel-by-category {
    height: 35%;
    padding: 0;
    text-align: left;
}

.nobel-by-category img {
    height: 180px;
    border-radius: 10px;
}

.read-data {
    width: 40%;
    height: 45%;
    text-align: left;
    /* border: 1px red solid; */
}
.read-data p {
    width: 52%;
    padding: 4px 4px 4px 10px;
    background-color: #1f1f1f;
    color: white;
    border-radius: 5px;
    text-align: left;
    font-family: 'Consolas';
    font-size: 0.7rem;
}

.read-data a {
    font-family: 'Oswald';
    font-size: 12px;
    text-align: left;
}

.data-nobel {
    width: 100%;
    border-collapse: collapse;
    font-size: 9px;
}
.data-nobel th, td {
    border: 1px solid #504b3e;
    text-align: left;
    padding: 5px;
    white-space: nowrap;
}
.data-nobel th {
    background-color: #333335;
}
.data-nobel tr:nth-child(even) {
    background-color: #1c1c1c;
}

.nan-nobel {
    width: 20%;
    height: 40%;
    /* border: 1px red solid; */
}
.nan-nobel p {
    width: 90%;
    padding: 4px 4px 4px 10px;
    background-color: #1f1f1f;
    color: white;
    border-radius: 5px;
    text-align: left;
    font-family: 'Consolas';
    font-size: 0.70rem;
}

.nan-data-nobel {
    width: 90%;
    border-collapse: collapse;
    font-size: 8px;
}
.nan-data-nobel th, td {
    border: 1px solid #504b3e;
    text-align: left;
    padding: 5px;
    white-space: nowrap;
}
.nan-data-nobel th {
    background-color: #333335;
}
.nan-data-nobel tr:nth-child(even) {
    background-color: #1c1c1c;
}

.nobel-data-middle {
    display: flex;
    justify-content: flex-start;
    padding: 0 22px;
    width: 90%;
}

.nobel-data-middle p {
    font-family: 'Oswald';
    font-size: 12px;
    text-align: left;
    line-height: 1.4;
}

.nobel-data-bottom {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 36%;
    box-sizing: border-box;
    /* border: 1px red solid; */
}

.nobel-data-bottom img {
    height: 95%;
    border-radius: 4px;
}

.g-playstore {
    width: 99.8%;
    height: 99.7%;
    padding: 5px;
    text-align: left;
    box-sizing: border-box; 
}

.g-playstore h3 {
    font-family: 'Montserrat';
    line-height: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 500;
}

.g-playstore img {
    display: inline-block;
    height: 40%;
    vertical-align: top;
    padding: 2px 8px;
    border-radius: 10px;
}



/* Developement */
.developement-box {
    width: 99%;
    height: 99%;
    padding: 5px;
    text-align: left;
    box-sizing: border-box;
    /* border: 1px red solid; */
}

.dev-header {
    display: inline-block;
    width: 40%;
    padding: 0 0 0 10px;
    font-family: 'Oswald';
    font-size: 1.1em;
    color: rgb(236, 236, 236);
    box-sizing: border-box;
    border-radius: 10px;
    border-left: 2px rgb(29, 14, 160) solid;
    opacity: 0.9;
}

.dev-lang-header {
    float: right;
    width: 30%;
    margin: 5px 0.6% -5% 0;
    padding: 0;
}

.languages-used {
    display: flex;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
}

.lang-line {
    display: inline-block;
    padding: 0;
    margin: 0 2px 0 0;
    opacity: 0.8;

}
.lang-line:nth-child(1) {
    width: 36.4%;
    height: 9px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #127bd1;
}
.lang-line:nth-child(2) {
    width: 28.6%;
    height: 9px;
    background-color: #ac2727;
}
.lang-line:nth-child(3) {
    width: 24.1%;
    height: 9px;
    background-color: #d1be12;
}
.lang-line:nth-child(4) {
    width: 10.9%;
    height: 9px;
    background-color: #4fd112;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.lang-names {
    display: flex;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
}

.lang-names ul {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 6em;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.lang-names li {
    padding: 5px;
    text-align: left;
    position: relative;
    font-size: 0.9rem;
}

.lang-names li::before {
    content: '•';
    position: absolute;
    left: -0.5em;
    top: 40%;
    transform: translateY(-50%);
    font-size: 2.5em;
    color: #127bd1;
}

.lang-names li:nth-child(2)::before {
    color: #ac2727;
}

.lang-names li:nth-child(3)::before {
    color: #d1be12;
}

.lang-names li:nth-child(4)::before {
    color: #4fd112;
}

.dev-finance {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 15px 0 15px;
    box-sizing: border-box;
}

.f-head, .web-app-head {
    display: inline-block;
    padding: 0;
    margin: 1% 0 0 0;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(238, 238, 238);
}

.f-head::first-letter, .web-app-head::first-letter {
    text-decoration: underline;
}

.dev-f-line {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 82%;
    height: 2px;
    background-color: #535353;
    opacity: 0.6;
}

.fin-box {
    display: inline-block;
    width: 32%;
    line-height: 0;
    padding: 5px 0 0 0;
}

.fin-box h4 {
    padding: 15px 0 15px 0;
    margin: 0;
    font-family: 'Montserrat';
    font-size: 1.2rem;
    color: #ca9c1d;
}

.fin-box img {
    padding: 0;
    margin: 2% 0 0 0;
    width: 100%;
    border-radius: 2px;
}

.dev-w-line {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 58%;
    height: 2px;
    background-color: #535353;
    opacity: 0.6;
}

.web-app-head {
    margin-top: 2%;
}

.dev-web-apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    padding: 0 15px 0 15px;
    box-sizing: border-box;
}

.web-box {
    width: auto;
    line-height: 0;
    padding: 5px 0 0 0;
    display: inline-block;
    text-align: left;
}

.web-box h4 {
    padding: 15px 0 15px 0;
    margin: 0;
    font-family: 'Montserrat';
    font-size: 1.2rem;
    color: #ca9c1d;
}

.dev-web-apps img {
    height: 200px;
    width: auto;
    margin: 2% 0 0 0;
    border-radius: 5px;
}


/* Contact */
.dabba-contact {
    width: 95%;
}

.contact-box {
    width: 40%;
    height: 40%;
    text-align: left;
    margin: 6% 0 0 8%;
    padding: 0 5%;
}

.contact-box h1 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-style: normal;
    font-size: 4.5rem;
    padding: 0;
    margin: 2% 0 0 0;
}

.contact-box p {
    display: inline-block;
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;
    padding: 0;
    margin: 1% 0 0 5px;
    color: #4957a5;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
}

.contact-box:hover p.arrow {
    transition: all 0.2s ease-in;
    transform: translateX(40%);
}

.contact-options {
    display: flex;
    padding: 0 5%;
    margin: 6% 0 0 15%;
    justify-content: space-between;
}

.contact-icon {
    width: 50%;
    background-color: transparent;
    margin-right: 10%;
    cursor: pointer;
    border: 2px rgb(46, 81, 177) solid;
    border-radius: 20px;
    transition: all 0.35s ease-in-out;
}

.contact-icon p {
    font-family: 'Rowdies';
    font-weight: 300;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #b8b8b8;
    opacity: 0.8;
}

.contact-icon:hover {
    background-color: #464653;
    scale: 0.94;
}

.made-by-me {
    display: block;
    text-align: center;
    margin-top: -2%;
}
.made-by-me a{
    font-size: 0.55rem;
    color: rgb(124, 124, 124);
    text-decoration: none;
}

/* For High-end laptops and Desktops (1795px - 1900px) */
@media (min-width: 1795px) and (max-width: 1900px) {

    .wrapper {
        height: 100%;
    }

    .nav-bar {
        margin: 8px 8.5% 0 0;
    }

    .box-content {
        width: 80%;
        margin: 2% 0 0 10%;
        height: 680px;
        overflow: visible;
    }

    .section.active {
        scale: 1.02;
        margin-top: -3%;
    }

    .line2 {
        width: 79%;
        margin-left: 8.3%;
    }

    .text-box {
        margin-top: 0%;
    }

    .text-box p{
        font-size: 1.28rem;
    }

    .basic-web {
        margin-top: 11%;
    }

    .developement-box {
        scale: 0.95;
    }

    .dev-header {
        width: 45%;
        font-size: 1.25em;
    }
}


/* For laptops (1538px - 1794px) */
@media (min-width: 1538px) and (max-width: 1794px) {

    .wrapper {
        height: 100%;
    }

    .box-content {
        width: 80%;
        height: 680px;
        margin-top: 1%;
        overflow: visible;
    }

    .section.active {
        scale: 1.02;
        margin-top: -3%;
    }

    .line {
        margin: 5% 0 0 25px;
        height: 61%;
    }
    
    .dots li p {
        margin: -7px 0 0 20px;
    }

    .dot {
        margin-top: 7%;
    }

    .dot:nth-child(1) { top: 12%; }
    .dot:nth-child(2) { top: 22%; }
    .dot:nth-child(3) { top: 32%; }
    .dot:nth-child(4) { top: 42%; }
    .dot:nth-child(5) { top: 52%; }
    .dot:nth-child(6) { top: 62%; }

    .textex h1 {
        font-size: 4rem;
    }

    .content-item {
        width: 95%;
        height: 85%;
    }

    .hire {
        width: 45%;
    }

    .hire:hover {
        width: 50%;
    }

    .line2 {
        width: 84%;
        margin-left: 8.3%;
    }

    .skill-options {
        margin-top: -4%;
        margin-left: 12.5%;
    }

    .skill-options a {
        margin-right: 7%;
        width: 25%;
    }

    .nav-options {
        margin: -40% -5% 0 0;
    }
    
    .nav-options.active {
        margin: -40% 7% 0 0;
    }

    .text-box {
        margin-top: -4%;
        margin-left: 0;
        scale: 0.8;
        width: 55%;
    }

    .text-box p{
        font-size: 1.36rem;
        margin-left: 5%;
    }

    .about-box {
        margin: 0 0 -1.6% 0;
    }

    .skill-rating {
        width: 35%;
    }
    
    .all-skill {
        padding: 4px;
        margin-top: 9%;
    }
    
    .all-skill li {
        font-size: 2rem;
    }

    .social-links {
        margin-top: -2%;
    }

    .about-footers {
        margin: -7% 0 0 2%;
    }

    .nobel-data {
        padding: 0;
        height: 95%;
        margin-top: -1%;
    }

    .nobel-data-top {
        height: 42%;
        padding: 0;
    }
    
    .nobel-by-category img {
        height: 215%;
    }

    .read-data p {
        width: 60%;
    }
    
    .data-nobel th, td {
        padding: 5px;
    }
    
    .nan-data-nobel {
        font-size: 7.5px;
    }
    .nan-data-nobel th, .nan-data-nobel td {
        padding: 3px;
    }

    .nobel-data-middle {
        padding: 0;
        width: 100%;
    }
    
    .nobel-data-bottom {
        height: 38%;
    }
    
    .nobel-data-bottom img {
        height: 80%;
    }

    .g-playstore {
        padding: 0px;
    }
    
    .g-playstore h3 {
        font-size: 1.3rem;
    }
    
    .g-playstore img {
        height: 31%;
        padding: 2px 8px;
    }

    .developement-box {
        scale: 0.95;
    }

    .dev-header {
        width: 50%;
        font-size: 1.2em;
    }

    .dev-lang-header {
        width: 35%;
        margin: 5px 1% -5% 0;
    }

    .f-head, .web-app-head {
        font-size: 1.3rem;
    }
    
    .dev-f-line {
        width: 79.6%;
    }
    
    .dev-w-line {
        width: 57%;
    }

    .web-app-head {
        margin-top: 1.5%;
    }

    .fin-box h4 {
        padding: 15px 0 10px 0;
        font-size: 1.1rem;
    }

    .web-box h4 {
        padding: 15px 0 10px 0;
        font-size: 1.1rem;
    }
    
    .dev-web-apps img {
        height: 190px;
    }

    .project-box {
        margin-top: 2%;
        height: 90%;
        scale: 0.96;
    }

    .project-data-p {
        height: 98%;
    }

    .project-p-header img {
        padding-left: 5px;
        border-radius: 5px;
    }

    .project-count {
        width: 60%;
    }

    .project-count h3 {
        font-size: 0.95rem;
        margin-left: 4%;
    }
    
    .project-count p {
        font-size: 0.75rem;
        line-height: 1.2;
    }
    
    .project-count img {
        width: 105%;
        height: 60%;
    }
    
    .project-p-header #p-visual {
        width: 50%;
        height: 100%;
        margin-top: 5%;
    }

    .line-separator {
        margin: 2% 0 3% 1px;
    }

    .project-panel {
        height: 85px;
    }

    .project-panel img {
        display: none;
    }

    .project-panel:nth-child(4) { display: none; }

    .panel-text {
        width: 70%;
    }

    .panel-text h4 {
        font-size: 0.8rem;
        margin-top: 4.5%;
    }
    
    .panel-text p {
        font-size: 0.8rem;
        line-height: 1.4;
    }
    
    .use-tech {
        padding: 15px 0 0 5px;
    }

    .use-tech ul {
        font-size: 0.7rem;
    }

    .project-techs {
        height: 98%;
    }

    .project-data-s {
        height: 98%;
    }

    .script {
        font-size: 0.65rem;
        line-height: 1.2;
        margin-top: -4%;
    }
    
    .dr-discovery-analysis img {
        margin-top: -7%;
        width: 90%;
    }

    .project-data-ml img {
    margin-top: -7%;
    width: 90%;
    }

    .basic-web {
        margin-top: 6%;
    }

    .s-data-footer {
        width: 90%;
        height: 10%;
        margin-top: 3%;
    }

    .s-data-footer a {
        margin: -5% 0 0 0;
        font-size: 0.8rem;
    }

    .s-data-footer img {
        width: 15%;
    }

    .dabba-contact {
        margin-top: -1%;
    }

    .contact-box {
        width: 60%;
        margin: 6% 0 0 8%;
    }

    .contact-options {
        margin: 8% 0 0 17%;
    }

    .contact-icon {
        scale: 0.9;
    }
}

/* For Smaller laptops (1281px - 1537px) */
@media (min-width: 1281px) and (max-width: 1537px) {

    .wrapper {
        height: 100%;
    }

    .container.nav {
        margin-top: -2%;
        padding-bottom:4%;
    }

    .nav-options.active {
        margin: -47% 2% 0 0;
    }
    
    .nav-options.active ul {
        font-size: 2.3rem;
    }

    .header {
        margin-left: 1px;
    }

    .nav-bar {
        margin: 8px 7% 0 0;
    }

    .timeline {
        margin: 10px 0 0 -10px;
    }
    
    .dots li p {
        font-size: 0.9rem;
    }

    .dot:nth-child(1) { top: 8%; }
    .dot:nth-child(2) { top: 20%; }
    .dot:nth-child(3) { top: 32%; }
    .dot:nth-child(4) { top: 44%; }
    .dot:nth-child(5) { top: 55%; }
    .dot:nth-child(6) { top: 66%; }

    .box-content {
        margin: -6% 0 0 9%;
        width: 85%;
        height: 85vh;
    }

    .section.active {
        scale: 0.95;
    }

    .line {
        margin: 2% 0 0 25px;
        height: 70%;
    }

    .textex h1 {
        font-size: 3.6rem;
    }

    .content-item {
        width: 100%;
        height: 85%;
    }

    .hire {
        width: 50%;
    }

    .hire:hover {
        width: 55%;
    }

    .line2 {
        width: 78%;
        margin-left: 8.3%;
    }

    .skill-options {
        margin-top: 0;
        margin-left: 2.5%;
    }

    .text-box {
        margin-top: -9%;
        scale: 0.8;
        width: 60%;
    }

    .text-box p {
        margin-left: 7%;
        font-size: 1.4rem;
    }

    .skill-rating {
        margin-left: 1%;
    }
    
    .skill-options {
        margin-top: -3%;
    }
    
    .all-skill li {
        font-size: 1.8rem;
    }

    .about-footers {
        margin-top: -6%;
    }

    .nobel-data {
        padding: 0;
    }

    .nobel-data-top {
        height: 42%;
        padding: 0;
    }
    
    .nobel-by-category img {
        height: 188%;
        margin-left: 4%;
    }

    .read-data p {
        width: 60%;
        font-size: 0.65rem;
    }

    .nan-nobel p {
        width: 100%;
        font-size: 0.65rem;
    }
    
    .data-nobel th, td {
        padding: 3px;
    }
    
    .nan-data-nobel {
        font-size: 7.5px;
    }
    .nan-data-nobel th, .nan-data-nobel td {
        padding: 2px;
    }

    .nobel-data-middle {
        padding: 0;
        width: 100%;
    }

    .nobel-data-middle p {
        font-size: 0.8rem;
    }
    
    .nobel-data-bottom {
        height: 38%;
    }

    .nobel-data-bottom img:nth-child(4) {display: none;}
    
    .nobel-data-bottom img {
        height: 90%;
    }

    .g-playstore {
        padding: 0px;
    }
    
    .g-playstore h3 {
        font-size: 1.3rem;
        padding: 10px 0;
    }
    
    .g-playstore img:nth-child(5) {display: none;}
    .g-playstore img:nth-child(9) {display: none;}

    .g-playstore img {
        height: 38%;
        padding: 2px 8px;
    }

    .dev-header {
        width: 55%;
        font-size: 1.2em;
    }

    .dev-lang-header {
        width: 35%;
        margin: 5px 1% -5% 0;
    }

    .f-head, .web-app-head {
        font-size: 1.4rem;
    }
    
    .dev-f-line {
        width: 78%;
    }
    
    .dev-w-line {
        width: 51%;
    }

    .web-app-head {
        margin-top: 3%;
    }

    .fin-box h4, .web-box h4 {
        padding: 15px 0 15px 0;
        font-size: 1.1rem;
    }
    
    .dev-web-apps img {
        height: 160px;
    }

    .project-box {
        margin-top: 0;
        height: 100%;
    }

    .project-data-p {
        height: 98%;
    }

    .project-p-header img {
        padding-left: 5px;
        border-radius: 5px;
    }

    .project-count {
        width: 60%;
    }

    .project-count h3 {
        font-size: 0.95rem;
        margin-left: 4%;
    }
    
    .project-count p {
        font-size: 0.75rem;
        line-height: 1.2;
    }
    
    .project-count img {
        width: 105%;
        height: 60%;
    }
    
    .project-p-header #p-visual {
        width: 49%;
        height: 105%;
        margin-top: 5%;
    }

    .line-separator {
        margin: 2% 0 3% 1px;
    }

    .projects-display {
        height: 100%;
    }

    .project-panel {
        height: 14%;
    }

    .project-panel img {
        display: none;
    }

    .project-panel:nth-child(5) { display: none; }

    .panel-text {
        width: 85%;
        padding: 0;
        padding-right: 5px;
        border: none;
        box-sizing: border-box;
    }

    .panel-text h4 {
        font-size: 0.8rem;
        margin-top: 4.5%;
    }
    
    .panel-text p {
        font-size: 0.8rem;
        line-height: 1.4;
    }
    
    .use-tech {
        padding: 15px 0 0 4px;
    }

    .basic-web {
        margin-top: 4%;
    }

    .use-tech ul {
        font-size: 0.6rem;
    }

    .script {
        font-size: 0.6rem;
        line-height: 1.2;
        margin-top: -3%;
    }
    
    .dr-discovery-analysis img, .project-data-ml img {
        margin-top: -4%;
        width: 99%;
        height: auto;
    }

    .project-techs {
        height: 98%;
    }

    .project-data-s {
        height: 98%;
    }

    .basic-web {
        margin-top: 22%;
    }

    .s-data-footer {
        width: 100%;
        height: 10%;
        margin-top: 0;
    }

    .s-data-footer a {
        margin: -5% 0 0 0;
        font-size: 0.8rem;
    }

    .s-data-footer img {
        width: 15%;
    }

    .dabba-contact {
        margin-top: -4%;
    }

    .contact-box {
        width: 60%;
        margin: 6% 0 0 8%;
    }   

    .contact-options {
        margin: 8% 0 0 17%;
    }

    .contact-icon {
        scale: 0.9;
    }
}

/* For tablets (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .wrapper {
        height: auto;
        margin-top: 2%;
    }

    .header {
        display: flex;
        width: 35%;
        margin-top: 10px;
        margin-left: 6%;
    }

    .nav-toggle {
        opacity: 0;
        pointer-events: none;
    }

    .timeline {
        display: none;
    }

    .line {
        display: none;
    }

    .dots {
        display: none;
    }

    .nav-options {
        display: none;
    }

    .container {
        width: 99%;
        height: 99%;
        margin: 0 0 0 5%;
        padding: 0;
    }

    .dabba {
        width: 90%;
    }

    .box-content {
        width: 100%;
        height: 100%;
        margin: 5% 0 0 0;   
    }

    .section {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0 0 5% 0;
        padding: 0;
    }

    .small-headers {
        display: block;
    }
    .small-headers h1{
        font-family: 'Montserrat';
        font-size: 4rem;
        font-weight: 900;
        text-align: left;
    }
    .small-headers h1::first-letter {
        text-decoration: underline;
    }

    .content-item {
        width: 80%;
    }

    .textex h1 {
        font-size: 4.4rem;
    }

    .hire {
        width: 85%;
    }

    .hire:hover {
        width: 90%;
    }

    .line2 {
        width: 90%;
        margin-bottom: 5%;
    }

    .skill-options {
        margin-top: 3%;
        margin-left: 11%;
    }

    .skill-options a {
        width: 25%;
        opacity: 0.8;
    }

    .about-box {
        width: 100%;
        margin: 5% 0 0 1%;
        padding: 0;
    }

    .text-box {
        width: 55%;
        height: 10%;
        padding: 0;
        margin: 0 0 0 2%;
    }

    .text-box p {
        font-size: 1.12rem;
    }

    .skill-rating {
        margin: 8% 0 0 7%;
        font-size: 1rem;
    }

    .all-skill li {
        font-size: 1.7rem;
        line-height: 2;
    }

    .all-skill li a {
        font-size: 1.4rem;
    }

    .about-footers {
        width: 65%;
        margin: 5% 0 0 12.5%;
    }

    .nobel-data-top {
        height: 45%;
    }
    
    .nobel-by-category {
        display: none;
    }

    .read-data p {
        width: 90%;
    }

    .nan-nobel p {
        width: 130%;
    }
    
    .data-nobel th, td {
        padding: 6px;
    }
    
    .nan-data-nobel {
        font-size: 9px;
    }
    .nan-data-nobel th, .nan-data-nobel td {
        padding: 5px;
    }

    .nobel-data-middle {
        /* padding: 0 18px; */
        width: 95%;
    }

    .nobel-data-middle p {
        font-size: 1.2rem;
    }
    
    .nobel-data-bottom {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .nobel-data-bottom img:nth-child(1) {display: none;}
    
    .nobel-data-bottom img {
        width: 90%;
        margin-top: 3%;
    }

    .nobel-data-bottom img:nth-child(2) {margin-left: -6.5%;}
    .nobel-data-bottom img:nth-child(4) {width: 85%;}

    .g-playstore {
        padding: 0px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .g-playstore h3 {
        font-size: 1.7rem;
        padding: 10px 0;
        text-align: left;
    }
    
    .g-playstore img:nth-child(5) {display: none;}
    .g-playstore img:nth-child(9) {display: none;}

    .g-playstore img {
        width: 90%;
        padding: 11px 0;
    }

    .ds-header {
        width: 100%;
        height: 30%;
        margin: 0 0 0 0;
    }

    .ds-timeline {
        width: 100%;
        text-align: center;
    }

    .ds-header img {
        width: 80%;
        margin: 0 0 0 7%;
    }

    .ds-timeline:nth-child(3) {
        width: 80%;
        margin-left: 7%;
        text-align: center;
    }

    .ds-body-tab {
        margin-top: 5%;
    }

    .dev-header {
        width: 50%;
    }

    .dev-lang-header {
        width: 40%;
        margin: 2% 1.5% 0 0;
    }

    .f-head, .web-app-head {
        margin: 7% 0 0 0;
    }

    .dev-f-line {
        width: 30%;
    }
    
    .dev-w-line {
        width: 25%;
    }

    .web-box img {
        height: 220px;
    }

    .project-box {
        width: 100%;
    }

    .project-data-p {
        width: 65%;
    }

    .panel-text h4 {
        font-size: 0.75rem;
    }

    .panel-text p {
        line-height: 1.4;
    }

    .project-techs {
        width: 35%;
        justify-content: flex-end;
    }

    .project-data-d {
        height: 34%;
    }

    .project-data-ml {
        height: 35%;
        margin-top: 5%;
    }

    .technologies {
        display: none;
    }

    .project-data-ml img {
        width: 99%;
    }

    .project-data-s {
        display: none;
    }

    .contact-box {
        width: 50%;
    }

    .contact-box h1 {
        display: none;
    }

    .contact-box p {
        margin: 0;
    }

    .contact-options {
        width: 90%;
        margin: 5% 0 5% 8.5%;
    }

    .contact-icon {
        width: 50%;
    }

    .contact-icon img {
        width: 80%;
    }
    
}

/* For mobile devices (480px - 767px) */
@media (min-width: 480px) and (max-width: 767px) { 
    .wrapper {
        height: auto;
        margin-top: 2%;
    }

    .nav-toggle {
        opacity: 0;
        pointer-events: none;
    }

    .timeline {
        display: none;
    }

    .line {
        display: none;
    }

    .dots {
        display: none;
    }

    .nav-options {
        display: none;
    }

    .container {
        width: 99%;
        height: 99%;
        margin: 0 0 0 5%;
        padding: 0;
    }

    .dabba {
        width: 90%;
    }

    .header {
        display: flex;
        align-items: center;
        width: 70%;
        margin: 5px 0 0 12px;
    }

    .box-content {
        width: 100%;
        height: 100%;
        margin: 5% 0 0 0;   
    }

    .section {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0 0 5% 0;
        padding: 0;
    }

    .small-headers {
        display: block;
    }
    .small-headers h1{
        font-family: 'Montserrat';
        font-size: 3rem;
        font-weight: 900;
        text-align: center;
    }
    .small-headers h1::first-letter {
        text-decoration: underline;
    }

    .content-item {
        flex-direction: column;
        width: 80%;
    }

    .textex {
        width: 100%;
        margin-left: 21%;
    }

    .textex h1 {
        font-size: 2.6rem;
        text-align: left;
    }

    .hire {
        width: 70%;
        margin-top: 5%;
        margin-left: 0;
    }

    .hire:hover {
        width: 73%;
    }

    .content-item img {
        width: 115%;
        margin: 10% 0 0 5%;
    }

    .line2 {
        width: 91.4%;
        margin: 2px 0 0 5%;
    }

    .skill-options {
        flex-direction: column;
        margin-top: 3%;
        margin-left: 11%;
    }

    .skill-options a {
        width: 90%;
        opacity: 0.8;
        text-align: center;
        margin: 0 0 0 0;
    }

    .skill-options h3 {
        font-size: 1.1rem;
        text-decoration: underline;
    }
    
    .skill-options p {
        font-size: 0.9rem;
        margin-top: -5%;
    }

    .about-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 5% 0 0 0;
        padding: 0;
    }

    .text-box {
        width: 97%;
        height: 10%;
        padding: 0;
        margin: 0;
    }

    .text-box img {
        margin: -8% 0 0 30%;
        scale: 0.6;
    }

    .text-box p {
        font-size: 1.12rem;
        padding-left: 20px;
        border-left: 1px grey solid;
    }

    .skill-rating {
        width: 100%;
        margin: 0 0 0 9%;
        font-size: 1rem;
    }

    .all-skill li {
        font-size: 1.5rem;
        line-height: 1.5;
    }

    .all-skill li a {
        font-size: 1.5rem;
        margin-right: 2%;
    }

    .about-footers {
        width: 100%;
        margin: 0;
    }

    .social-line {
        width: 70%;
        margin-top: 9%;
    }

    .ds-box {
        margin-top: -4%;
    }

    .nobel-data-top {
        width: 99%;
        margin-top: -2%;
    }
    
    .nobel-by-category {
        display: none;
    }

    .read-data {
        width: 500%;
    }

    .read-data p {
        width: 70%;
    }

    .nan-nobel {
        display: none;
    }
    
    .data-nobel th, td {
        padding: 4px;
    }

    .nobel-data-middle {
        padding: 0;
        width: 99%;
    }

    .nobel-data-middle p {
        font-size: 12px;
    }
    
    .nobel-data-bottom {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .nobel-data-bottom img:nth-child(1) {display: none;}
    
    .nobel-data-bottom img {
        width: 90%;
        margin-top: 3%;
    }

    .nobel-data-bottom img:nth-child(2) {margin-left: -6.5%;}
    .nobel-data-bottom img:nth-child(4) {width: 85%;}

    .g-playstore {
        padding: 0px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .g-playstore h3 {
        font-size: 1.5rem;
        padding: 10px 0;
        text-align: left;
    }
    
    .g-playstore img:nth-child(5) {display: none;}
    .g-playstore img:nth-child(9) {display: none;}

    .g-playstore img {
        width: 90%;
        padding: 11px 0;
    }

    .ds-header {
        width: 100%;
        height: 30%;
        margin: 0;
        padding: 0;
    }

    .ds-timeline {
        width: 100%;
        padding: 0;
        text-align: center;
        /* border: 1px red solid; */
    }

    .ds-header img {
        width: 80%;
        margin: 0 0 0 9%;
    }

    .ds-timeline:nth-child(3) {
        width: 85%;
        margin-left: 9%;
        text-align: center;
    }

    .ds-body-tab {
        margin-top: 1%;
    }

    .developement-box {
        display: flex;
        flex-direction: column;
    }

    .dev-header {
        width: 100%;
        margin-left: 3%;
    }

    .dev-lang-header {
        width: 100%;
        margin: 4% 0 0 1%;
    }

    .f-head, .web-app-head {
        font-size: 1.2rem;
        margin: 7% 0 0 0;
    }

    .dev-f-line {
        width: 100%;
    }
    
    .dev-w-line {
        width: 100%;
    }

    .dev-finance {
        display: flex;
        flex-direction: column;
    }

    .fin-box {
        width: 100%;
        margin-left: 2%;
    }

    .fin-box h4, .web-box h4 {
        font-size: 1rem;
    }

    .web-box img {
        height: 140px;
    }

    .web-box:nth-child(5) {display: none;}
    .web-box:nth-child(6) {display: none;}

    .project-box {
        flex-direction: column;
        width: 100%;
    }

    .project-data-p {
        width: 100%;
    }

    .project-p-header {
        display: flex;
        flex-direction: column;
    }

    .project-count {
        width: 100%;
    }

    .project-panel {
        width: 100%;
        height: auto;
    }

    .project-panel img {
        display: none;
    }

    .panel-text h4 {
        font-size: 0.85rem;
        line-height: 1.5;
    }

    .panel-text p {
        margin-top: -5%;
        font-size: 0.8rem;
        line-height: 1.4;
    }

    .project-count img {
        width: 80%;
        height: auto;
        margin-left: 5%;
    }

    .project-p-header #p-visual {
        width: 70%;
        height: auto;
        margin-left: 14%;
    }

    .line-separator {
        width: 100%;
        margin: 4% 0;
    }

    .project-techs {
        width: 100%;
        justify-content: flex-end;
    }

    .project-data-d {
        height: 34%;
    }

    .project-data-ml {
        height: 35%;
        margin-top: 5%;
    }

    .technologies {
        display: none;
    }

    .script {
        font-size: 0.65rem;
    }

    .project-data-ml img {
        width: 99%;
    }

    .project-data-s {
        display: none;
    }

    .contact-box {
        width: 100%;
        margin-left: 5.5%;
    }

    .contact-box h1 {
        display: none;
    }

    .contact-box p {
        margin: 0;
    }

    .contact-options {
        width: 90%;
        margin: 5% 0 4% 8.5%;
    }

    .contact-icon {
        width: 50%;
    }

    .contact-icon img {
        width: 70%;
    }

    .made-by-me {
        display: block;
        text-align: center;
    }
    .made-by-me a{
        font-size: 0.5rem;
        color: rgb(124, 124, 124);
        text-decoration: none;
    }
}

/* For very small screens (less than 480px) */
@media (max-width: 480px) {
    .wrapper {
        height: auto;
        margin-top: 2%;
    }

    .nav-toggle {
        opacity: 0;
        pointer-events: none;
    }

    .timeline {
        display: none;
    }

    .line {
        display: none;
    }

    .dots {
        display: none;
    }

    .nav-options {
        display: none;
    }

    .container {
        width: 99%;
        height: 99%;
        margin: 0 0 0 5%;
        padding: 0;
    }

    .dabba {
        width: 90%;
    }

    .header {
        display: flex;
        align-items: center;
        width: 70%;
        margin: 5px 0 0 12px;
    }

    .box-content {
        width: 100%;
        height: 100%;
        margin: 5% 0 0 0;   
    }

    .section {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0 0 5% 0;
        padding: 0;
    }

    .small-headers {
        display: block;
    }
    .small-headers h1{
        font-family: 'Montserrat';
        font-size: 3rem;
        font-weight: 900;
        text-align: center;
    }
    .small-headers h1::first-letter {
        text-decoration: underline;
    }

    .content-item {
        flex-direction: column;
        width: 80%;
    }

    .textex {
        width: 100%;
        margin-left: 21%;
    }

    .textex h1 {
        font-size: 2.6rem;
        text-align: left;
    }

    .hire {
        width: 70%;
        margin-top: 5%;
        margin-left: 0;
    }

    .hire:hover {
        width: 73%;
    }

    .content-item img {
        width: 115%;
        margin: 10% 0 0 5%;
    }

    .line2 {
        width: 91.4%;
        margin: 2px 0 0 5%;
    }

    .skill-options {
        flex-direction: column;
        margin-top: 3%;
        margin-left: 11%;
    }

    .skill-options a {
        width: 90%;
        opacity: 0.8;
        text-align: center;
        margin: 0 0 0 0;
    }

    .skill-options h3 {
        font-size: 1.1rem;
        text-decoration: underline;
    }
    
    .skill-options p {
        font-size: 0.9rem;
        margin-top: -5%;
    }

    .about-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 5% 0 0 0;
        padding: 0;
    }

    .text-box {
        width: 97%;
        height: 10%;
        padding: 0;
        margin: 0;
    }

    .text-box img {
        margin: -8% 0 0 30%;
        scale: 0.6;
    }

    .text-box p {
        font-size: 1.12rem;
        padding-left: 20px;
        border-left: 1px grey solid;
    }

    .skill-rating {
        width: 100%;
        margin: 0 0 0 9%;
        font-size: 1rem;
    }

    .all-skill li {
        font-size: 1.5rem;
        line-height: 1.5;
    }

    .all-skill li a {
        font-size: 1.5rem;
        margin-right: 2%;
    }

    .about-footers {
        width: 100%;
        margin: 0;
    }

    .social-line {
        width: 70%;
        margin-top: 9%;
    }

    .ds-box {
        margin-top: -8%;
    }

    .nobel-data-top {
        width: 99%;
        margin-top: -2%;
    }
    
    .nobel-by-category {
        display: none;
    }

    .read-data {
        width: 500%;
    }

    .read-data p {
        width: 70%;
    }

    .nan-nobel {
        display: none;
    }
    
    .data-nobel th, td {
        padding: 4px;
    }

    .nobel-data-middle {
        padding: 0;
        width: 99%;
    }

    .nobel-data-middle p {
        font-size: 11px;
    }
    
    .nobel-data-bottom {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .nobel-data-bottom img:nth-child(1) {display: none;}
    
    .nobel-data-bottom img {
        width: 100%;
        margin-top: 3%;
    }

    .nobel-data-bottom img:nth-child(2) {margin-left: -6.5%;}
    .nobel-data-bottom img:nth-child(4) {width: 90%;}

    .g-playstore {
        padding: 0px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .g-playstore h3 {
        font-size: 1.2rem;
        padding: 10px 0;
        text-align: left;
    }
    
    .g-playstore img:nth-child(5) {display: none;}
    .g-playstore img:nth-child(9) {display: none;}

    .g-playstore img {
        width: 90%;
        padding: 11px 0;
    }

    .ds-header {
        width: 100%;
        height: 30%;
        margin: 0;
        padding: 0;
    }

    .ds-timeline {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .ds-timeline p {
        font-size: 10px;
    }

    .ds-header img {
        width: 80%;
        margin: 0 0 0 9%;
    }

    .ds-timeline:nth-child(3) {
        width: 85%;
        margin-left: 9%;
        text-align: center;
    }

    .ds-body-tab {
        margin-top: 1%;
    }

    .developement-box {
        display: flex;
        flex-direction: column;
    }

    .dev-header {
        width: 100%;
        margin-left: 3%;
    }

    .dev-lang-header {
        width: 100%;
        margin: 4% 0 0 1%;
    }

    .f-head, .web-app-head {
        font-size: 1.2rem;
        margin: 7% 0 0 0;
    }

    .dev-f-line {
        width: 100%;
    }
    
    .dev-w-line {
        width: 100%;
    }

    .dev-finance {
        display: flex;
        flex-direction: column;
    }

    .fin-box {
        width: 100%;
        margin-left: 2%;
    }

    .fin-box h4, .web-box h4 {
        font-size: 1rem;
    }

    .web-box img {
        height: 140px;
    }

    .web-box:nth-child(5) {display: none;}
    .web-box:nth-child(6) {display: none;}

    .project-box {
        flex-direction: column;
        width: 100%;
    }

    .project-data-p {
        width: 100%;
    }

    .project-p-header {
        display: flex;
        flex-direction: column;
    }

    .project-count {
        width: 100%;
    }

    .project-panel {
        width: 100%;
        height: auto;
    }

    .project-panel img {
        display: none;
    }

    .panel-text h4 {
        font-size: 0.85rem;
        line-height: 1.5;
    }

    .panel-text p {
        margin-top: -5%;
        font-size: 0.8rem;
        line-height: 1.4;
    }

    .project-count img {
        width: 80%;
        height: auto;
        margin-left: 5%;
    }

    .project-p-header #p-visual {
        width: 70%;
        height: auto;
        margin-left: 14%;
    }

    .line-separator {
        width: 100%;
        margin: 4% 0;
    }

    .project-techs {
        width: 100%;
        justify-content: flex-end;
    }

    .project-data-d {
        height: 34%;
    }

    .project-data-ml {
        height: 35%;
        margin-top: 5%;
    }

    .technologies {
        display: none;
    }

    .script {
        font-size: 0.65rem;
    }

    .project-data-ml img {
        width: 99%;
    }

    .project-data-s {
        display: none;
    }

    .contact-box {
        width: 100%;
        margin-left: 5.5%;
    }

    .contact-box h1 {
        display: none;
    }

    .contact-box p {
        margin: 0;
    }

    .contact-options {
        width: 90%;
        margin: 5% 0 4% 8.5%;
    }

    .contact-icon {
        width: 50%;
    }

    .contact-icon img {
        width: 70%;
    }

    .made-by-me {
        display: block;
        text-align: center;
    }
    .made-by-me a{
        font-size: 0.5rem;
        color: rgb(124, 124, 124);
        text-decoration: none;
    }
}